<div class="rootDiv">
  <br /><br />
  <jms-button [btn]="basicBtn" (onBtnClicked)="clickHandler(basicBtn)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtn18" (onBtnClicked)="clickHandler(basicBtn18)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtn24" (onBtnClicked)="clickHandler(basicBtn24)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtn30" (onBtnClicked)="clickHandler(basicBtn30)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtn40" (onBtnClicked)="clickHandler(basicBtn40)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtnAssign" (onBtnClicked)="clickHandler(basicBtnAssign)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBtnCst" (onBtnClicked)="clickHandler(basicBtnCst)"></jms-button>
  <br /><br /><br />
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBackImgBtn" (onBtnClicked)="clickHandler(basicBackImgBtn)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicBackImg2Btn" (onBtnClicked)="clickHandler(basicBackImg2Btn)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicIcon1Btn" (onBtnClicked)="clickHandler(basicIcon1Btn)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicIcon2Btn" (onBtnClicked)="clickHandler(basicIcon2Btn)"></jms-button>
  <span class="spacerSpanSty">&nbsp;</span>
  <jms-button [btn]="basicIcon3Btn" (onBtnClicked)="clickHandler(basicIcon3Btn)"></jms-button>
  <br /><br /> {{clicked}}
  <br /><br />
</div>
