<div class="NavBar">
  <span id="AngularCorePage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('AngularCorePage')">
    Angular Core
  </span>
  <span id="ButtonPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('ButtonPage')">
    Button
  </span>
  <span id="DropDownPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('DropDownPage')">
    Drop Down
  </span>
  <span id="GalleryPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('GalleryPage')">
    Gallery
  </span>
  <span id="InputPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('InputPage')">
    Input
  </span>
  <span id="ListPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('ListPage')">
    List
  </span>
  <span id="PageIndicatorPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('PageIndicatorPage')">
    Page Indicator
  </span>
  <span id="ProgressBarPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('ProgressBarPage')">
    Progress Bar
  </span>
  <span id="SliderPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('SliderPage')">
    Slider
  </span>
  <span id="TooltipPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('TooltipPage')">
    Tooltip
  </span>
  <span id="TreeMenuPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('TreeMenuPage')">
    Tree Menu
  </span>
  <span id="TreeViewPage" class="navSpan" (click)="navClick($event)" [ngClass]="getColor('TreeViewPage')">
    Tree View
  </span>
</div>
