.DropDownMenu {
  font-size: 1.2em;
  padding: 2px 2px 0 0;
  position: relative;
  right: 0px;
  text-align: left;
  top: 0px;
  width: 100%;
}

.rootDiv {
  min-height: 300px;
  position: relative;
  width: 100%;
}
